@model ShopFilip.Models.Register
@{
    ViewBag.Title = "Register";
}
<link rel="stylesheet" type="text/css" href="~/css/Login-Register.css">

<h2 class="MainText">Register</h2>
<form method="post" asp-controller="Account" asp-action="Register" class="Login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Surname" class="control-label"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname"></span>
    </div>
    <div>
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PostalCode" class="control-label"></label>
        <input asp-for="PostalCode" id="postalCode"  maxlength="6"class="form-control" />
        <span asp-validation-for="PostalCode"></span>
    </div>
    <div>
        <input type="submit" value="Register" class="btn btn-default" id="button-login-register" />
    </div>
</form>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://unpkg.com/imask"></script>
<script>
   var dynamicMask = IMask(
       document.getElementById('postalCode'),
          {
            mask: [
              {
                mask: '00-000'
              },
              {
                mask: /^\S*?\S*$/
              }
            ]
          });
</script>