@{
    Layout = "_Layout";
}
@model IEnumerable<Product>



<link rel="stylesheet" type="text/css" href="~/css/CarouselMainPage.css">
<div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Photos/2.jpg" style=" width:100%; height:50%;">
            </div>
            <div class="carousel-item">
                <img src="~/Photos/2.jpg" style=" width:100%; height:50%;">
            </div>
            <div class="carousel-item">
                <img src="~/Photos/2.jpg" style=" width:100%; height:50%;">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</div>

<div class="container">
    <br>
    <br>
    <div class="row" id="ads">
        <!-- Category Card -->
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card rounded">
                    <div class="card-image">
                        <span class="card-notify-year">Okazja!</span>
                        @*<span class="card-notify-new">NEW</span>*@
                        <img class="img-fluid" src="https://drive.google.com/uc?id=@Html.DisplayFor(modelItem => item.Photo)" alt="[Photo]" />
                    </div>
                    <div class="card-image-overlay m-auto">
                        <span class="card-detail-badge">New</span>
                        <span class="card-detail-badge">@Html.DisplayFor(modelItem => item.Price) zł</span>
                        <span class="card-detail-badge">@Html.DisplayFor(modelItem => item.Group)</span>
                    </div>
                    <div class="card-body text-center">
                        <div class="ad-title m-auto">
                            <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
                        </div>
                        <a href="@Url.Action("Product", "Product", new { id = item.Id })" class="btn buy">KUP TERAZ</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

